{
  "zotero_user_id": "YOUR_USER_ID",
  "zotero_api_key": "YOUR_API_KEY",
  "zotero_library_type": "user",
  "zotero_storage_path": "/home/YOUR_USERNAME/Zotero/storage",
  "output_folder": "/home/YOUR_USERNAME/Documents/Obsidian Vault/Papers/"
}
